<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Le Contact </h1>

    <p>id: <%= contact.id %> </p>
    <p>name: <%= contact.name %> </p>
    <p>phone: <%= contact.phone %> </p>
    <p>email: <%= contact.email %> </p>
   
</body>
</html>