<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p> Contact List </p>

   <ul>
    <% contacts.forEach(element => { %>
    <li>
      	<p>id: <%= element.id %> </p>
        <p>name: <a href="/contacts/view/:<%= element.id %>"> <%= element.name %> </a></p>
				
  	</li>
    <% }) %>

   </ul>
</body>
</html>